<% provide(:title, @user.name) %>

<div class="row">
  <div class="col-md-3 profile border border-primary">
    <div class="profile-sidebar">
      <div class="profile-userpic">
        <img src="/images/default_pic.png" class="img-responsive" alt="Cinque Terre">
      </div>
      <div class="profile-usertitle">
        <div class="profile-name">
          <%= @user.name %>
        </div>
        <div class="profile-username">
          ユーザー名: <%= @user.username %>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <div>  
      <h3>投稿した募集 (<%= @user.created_requests.count %>)</h3>
      <% if @user.created_requests.any? %>
        <ol>
          <%= render partial: 'shared/request', collection: @createdRequests%>
        </ol>
      <% end %>
    </div>
    <div>
      <h3>応募した募集 (<%= @user.applied_requests.count %>)</h3>
      <% if @user.applied_requests.any? %>
        <ol>
          <%= render partial: 'shared/request', collection: @appliedRequests%>
        </ol>
      <% end %>
    </div>
    <div>
      <h3>取り組み中のお仕事 (<%=  %>)</h3>
      <% if @user.applied_requests.any? %>
        <ol>
          
        </ol>
      <% end %>
    </div>
    <div>
      <h3>完了済みのお仕事 (<%=  %>)</h3>
      <% if @user.applied_requests.any? %>
        <ol>
          
        </ol>
      <% end %>
    </div>
  </div>
</div>