<div class ="col-md-3">
    <p><%= @request.title %></p>

    <% applieds = @request.get_applied_applicants %>
    <h3>応募者 (<%= applieds.count %>)</h3>
    <% if applieds.any? %>
        <ol>
            <%= render partial: 'requests/applicant', collection: applieds, as: :applicant%>
        </ol>
    <% end %>
</div>

<div class ="col-md-3">
    <p><%= @request.title %></p>

    <% applieds = @request.get_applied_applicants %>
    <h3>取り組み中 (<%= applieds.count %>)</h3>
    <% if applieds.any? %>
        <ol>
            <%= render partial: 'requests/applicant', collection: applieds, as: :applicant%>
        </ol>
    <% end %>
</div>