<% provide(:title, @request.title) %>

<p><%= @request.title %></p>
<p><%= @request.startDateTime %></p>
<p><%= @request.endDateTime %></p>
<p>募集数: <%= @request.recruitment_number %></p>

<% if current_user.id == @request.creator_id %>
    <p>応募数: <%= @request.applicants.count %></p>
    <%= button_to "募集削除", request_path, method: :delete, data: { confirm: "この募集を削除しますか?" }, class: 'btn btn-primary' %>
<% elsif @request.status == "closed" %>
    <button type="button" class="btn btn-lg btn-primary" disabled>募集終了</button>
<% elsif !current_user.applied?(@request) %>
    <%= button_to "応募", apply_path, method: :post, data: { confirm: "この募集に応募しますか?" }, class: 'btn btn-primary' %>
<% else %>
    <%= button_to "応募取り消し", withdraw_path, method: :delete, data: { confirm: "応募を取り消しますか?" }, class: 'btn btn-primary' %>
<% end %>