<nav class="navbar navbar-expand-lg justify-content-end Cnav">
  <ul class="navbar-nav">
      <li class="nav-item Cnav-item">
        <a class="nav-link"><%= link_to "Home", root_path, { class: "CtextColor" } %></a>
      </li>
    </div>

    <% if logged_in? %>
      <li class="nav-item Cnav-item">
        <a class="nav-link"><%= link_to "募集を探す", requests_path, { class: "CtextColor" } %></a>
      </li>
      <li class="nav-item Cnav-item">
        <a class="nav-link"><%= link_to "リクエスト追加", new_request_path, { class: "CtextColor" } %></a>
      </li>

      <li class="nav-item dropdown Cnav-item Cdropdown">
        <a class="nav-link dropdown-toggle CtextColor" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= current_user.username %>
        </a>
        <div class="dropdown-menu dropdown-menu-right text-center" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#"><%= link_to "マイページ", current_user %></a>
          <a class="dropdown-item" href="#"><%= link_to "アカウント設定", '#' %></a>
          <div class="dropdown-divider"></div>
          <%= link_to "ログアウト", logout_path, method: :delete %>
        </div>
      </li>

    <% else %>
      <li class="nav-item Cnav-item">
        <a class="nav-link"><%= link_to "ログイン", login_path, { class: "CtextColor" } %></a>
      </li>
    <% end %>
  </ul>
</nav>